.top-container
{
  background-color:#E4F9F5;
  padding-top:100px;
  position:relative;

}
body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
  color:black;
}
h1{font-size:5.625rem;
  font-family: 'Sacramento', cursive;
  margin-top:50px auto 0 auto;
  color: #66BFBF;
  line-height:2;
}
h2
{
  font-size:2.5rem;
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-weight: normal;
  padding-bottom:10px;
}
h3
{
  color: #11999E;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.stu{
  text-decoration: underline;
  text-decoration-color:#66BFBF ;
}
p{
  line-height: 2;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom:none;
  width:4%;
  margin:100px auto 100px auto;
}
.bottom-cloud
{
  position:absolute;
  left:250px;
  bottom:300px;
}
.top-cloud
{
  position:absolute;
  right:300px;
  top:40px;
}
.skill-row
{
  margin:100px auto 100px auto;
  text-align:left;
  width:50%;
}
.Coding
{
  width:25%;
  float:left;
  margin-right:30px;
}
.Communication{
  width:25%;
  float:right;
  margin-left:30px;
}
.contact-me
{
  width:40%;
  margin:40px auto 60px auto;
}
.btn {
  background: #22baba;
  background-image: -webkit-linear-gradient(top, #22baba, #1ba8a8);
  background-image: -moz-linear-gradient(top, #22baba, #1ba8a8);
  background-image: -ms-linear-gradient(top, #22baba, #1ba8a8);
  background-image: -o-linear-gradient(top, #22baba, #1ba8a8);
  background-image: linear-gradient(to bottom, #22baba, #1ba8a8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fcfcfc;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.middle-container
{
 margin:100px auto 100px auto;
}
.intro
{
  width:30%;
  margin:auto;

}
.bottom-container
{
 background-color:#66BFBF;
 padding:50px 0 20px;
}
.copyright
{
  color:#EAF6F6;
  font-size:0.75rem;
  padding:20px 0 20px 0;
}
